<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">'
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let item of items">
    <ion-item>
      <p>{{item.name}}</p>
    </ion-item>
  </ion-list>
  <ion-button (click)="kosongkan()" expand="block" color="danger">
    Kosongkan
  </ion-button>
  <ion-button (click)="beli()" fill="outline" expand="block">
    Pembelian
  </ion-button>
</ion-content>
